*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    font-size: 1.5em;
}
.navbar-brand{
    font-size: 1.1em;
}
.main-container,
.search-countries-container,
.add-countries-container{
    height: 100vh;
}
.code-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    position: absolute;
    left: calc(50% - 60px);
    bottom: 2em;
}
.parent{
    position: relative;
}
.baby{
    position: absolute;
    right: 0;
}
.height-scroll{
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}