.navbar-nav{
    padding-left: 2rem;
}
.bg-blue{
    background: #1b5589;
}
.text-right-arrow{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}
.text-right-arrow>div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.5em;
    border: 1px solid #dee2e6
}
.text-right-arrow>div>p{
    text-align: center;
    margin-right: 1.5em;
    padding: 0.5em 1em 0;
}
.text-right-arrow>div>p + span{
    width: 2.25em;
    height: 2.25em;
    margin: 0 1.25em;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    transform: rotate(135deg);
    position: absolute;
    right: -2.45em;
    background: white;
    opacity: 1;
    z-index: 10;
}
.text-left-arrow{
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
}
.text-left-arrow>div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.5em;
    border: 1px solid #dee2e6
}

.text-left-arrow>div>span{
    width: 2.25em;
    height: 2.25em;
    margin: 0 1.25em;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    transform: rotate(-45deg);
    position: absolute;
    left: -2.45em;
    background: white;
    opacity: 1;
    z-index: 10;
}
.text-left-arrow>div>span + p{
    text-align: center;
    margin-left: 1.5em;
    padding: 0.5em 1em 0;
}
.homework{
    max-width: 31%;
    margin: 0 1em 0;
    padding: 1em;
}
.colorMenu{
    width: 20em;
    position: absolute;
    right: 2em;
    top: 6em;
}
.colorMenu>div{
    display: flex;
    justify-content: flex-end;
}
.colorMenu>div>p{
    margin-bottom: 0.3em;
    margin-right: 0.5em;
}
.colorMenu>div>p+span{
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
}
.bg-light{
    border: 1px solid grey;
}