*{
    font-family: sans-serif;
    color: white;
}

body>div{
    margin: 1em;
} 

.header{
    background: #923158;
    padding: 2em 6em;
    
}

.menu, .footer{
    background: #6e1237;
    padding: 1em 6em;
    
}
.aside-left{
    width: 414px;
    margin-right: 1em;
}
.aside1 {
    background: #b65b80;
    padding: 2em 12em 2em 6em;
    margin-bottom: 1em;
}
.aside2 {
    background: #b65b80;
    padding: 2em 12em 6em 6em;
    margin-bottom: 1em;
}
.main-center{
    background: #b65b80;
    padding: 2em 6em 4em 6em;
    width: 960px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.aside-right{
    background: #b65b80;
    padding: 2em 6em;
    width: 12.5%;
}
section{
    background: #db92af;
    padding: 1em 0 4em 6em;
    margin-bottom: 1em;
}
.conteiner div{
    float: left;
}

.clearfix{
    clear: both;
}

