body{
    width: 80%;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
}
.fruit{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 30px;
}