form{
    margin-left: 1em;
}
.elements{
    margin-top: 3em;
}
h3{
    font-family: sans-serif;
}

.text-noactive,
.text-active-valid,
.text-active-invalid{
    margin-right: 0.5em;
    padding: 0.8em 2em;
    border: 4px solid;
    border-radius: 5px;
    cursor: pointer;
}
.text-noactive{
    border-color: initial;
}
.text-noactive::placeholder{
    color: initial;
}
.text-active-valid{
    border-color: #41ad49;
}
.text-active-valid::placeholder{
    color: #41ad49;
}
.text-active-valid + label,
.text-active-invalid + label{
    position: relative;
}
.text-active-valid + label::after{
    content: '\2713';
    position: absolute;
    right: 30px;
    top: 0;
    color: #41ad49;
}
.text-active-invalid{
    border-color:  #e44061;
}
.text-active-invalid::placeholder{
    color: #e44061;
}
.text-active-invalid + label::after{
    content: 'x';
    position: absolute;
    right: 30px;
    top: 0;
    color: #e44061;
}


.checkbox-active,
.checkbox-noactive{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-active + label,
.checkbox-noactive + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox-active + label::before{
    content: '';
    display: inline-block;
    width: 2em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #41ad49;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox-noactive + label::before{
    content: '';
    display: inline-block;
    width: 2em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #e44061;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* .checkbox-active + label,
.checkbox-noactive + label{
    margin-left: 3em;
}


.checkbox-active + label::before{
    content: "";
    width: 100px;
    height: 100px;
    margin-right: 1em;
    background: red;
} */

/* input[type="radio"]{
    transform: scale(1.5);
    color: #41ad49; 
    background: red;
} */

/* .radio-male{
    transform: scale(1.5);
    color: #41ad49; 
    background: red;
} */


.button-active, 
.button-active-hover,
.button-danger,
.button-danger-hover,
.button-disabled{
    padding: 0.8em 2em;
    margin-right: 0.5em;
    border-radius: 5px;
    color: white;
    border: 0;
    cursor: pointer;
}
.button-active,
.button-circle-plus{
    background: #41ad49; 
}
.button-active-hover{
    background: #2c7731
    ;
}
.button-danger,
.button-circle-minus{
    background: #e44061;
}
.button-danger-hover{
    background: #97293f;
}
.button-disabled{
    background: #808080;
}
.button-circle-plus,
.button-circle-minus{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 0.5em;
    font-size: 1.4em;
    color: white;
    border: 0;
    cursor: pointer;
}

.textarea{
    width: 400px;
    height: 150px;
    border-radius: 5px;
    padding-top: 1em;
    padding-left: 1.5em;
}