.conteiner{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: #add8e6;
    justify-content: space-evenly;
}

.conteiner>div{
    display: block;
    margin: 3px;
    padding: 3px;
}

div>img{
    width: 100%;
}